.header-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 2rem;
}

.header-icon-container svg {
  fill: #3b2827;
  height: 55px;
  width: 55px;
}

.react-logo {
  animation: animasyon 5s infinite linear;
}
@keyframes animasyon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1024px) {
  .header-container {
    padding: 3% 10%;
  }
}
